.about-container {
  padding: 40px 20px;
  width: 100%;
  max-width: 764px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-title {
  text-align: center;
}

.about-header {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
}

.about-sub {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
}

.about-description {
  font-size: 12px;
  line-height: 2;
}

/* .about-member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
} */

.about-text {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px; */

  /* > h1 {
    font-size: 64px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  > h6 {
    font-size: 20px;
    margin-bottom: 20px;
  } */
}

.member-logo {
  width: 120px;
}

.signup-btn {
  padding: 15px 20px;
  border-radius: 10px;
  height: 60px;
  color: #fff;
  font-size: 20px;
  line-height: 1.5;
  font-weight: bold;
  width: 100%;
  background: linear-gradient(to right, #6c4b1f 20%, #e9b671 100%);
}

@media only screen and (min-width: 1024px) {
  .about-container {
    padding: 60px 0;
    max-width: 910px;
  }

  .about-header {
    font-size: 32px;
  }

  .about-sub {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
  }

  .about-description {
    font-size: 1rem;
    line-height: 2;
  }

  /* .about-member {
    flex-direction: row;
    gap: 50px;
    margin-top: 30px;
  } */

  .about-text {
    /* align-items: flex-start;
    max-width: 320px; */

    /* > h1 {
      margin-top: 0;
    }

    > h6 {
      font-size: 24px;
    } */
  }

  .member-logo {
    width: 202px;
    height: 202px;
  }

  .signup-btn {
    width: 320px;
  }
}

@media only screen and (min-width: 1440px) {
  .about-container {
    padding: 100px 0 80px;
    max-width: 910px;
  }

  .about-header {
    font-size: 40px;
  }

  .about-sub {
    margin-top: 40px;
    font-size: 24px;
  }

  /* .about-member {
    gap: 66px;
    margin-top: 40px;
  } */

  .about-text {
    /* max-width: 470px; */

    /* > h1 {
      font-size: 96px;
    }

    > h6 {
      font-size: 36px;
    } */
  }

  .member-logo {
    width: 280px;
    height: 280px;
  }

  .signup-btn {
    width: 390px;
  }
}
