@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --swiper-navigation-color: #fff;
  --swiper-scrollbar-drag-bg-color: var(--text-gray-3);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;

  font-family: Inter, sans-serif;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
section,
hr {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

/* ----------------------- SCROLLBAR ----------------------- */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #858585;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #858585;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

@layer base {
  ::-webkit-scrollbar {
    @apply hidden;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .transition-ease {
    @apply transition-opacity duration-200 ease-linear;
  }

  .divider {
    @apply bg-[#4c4c4c] border-t border-solid border-[#bbb];
  }

  .vertical-divider {
    @apply h-px w-full bg-[#4c4c4c] mt-[15px] mb-[10px];
  }

  .bg-gradient-01 {
    @apply bg-gradient-to-r from-gradient-1 from-20% to-gradient-2 to-100%;
  }

  .text-underline {
    @apply content-[''] absolute h-[10px] w-full top-[30px] left-0 bg-gradient-01;
  }

  .btn {
    padding: 7px 20px;
    border-radius: 50px;
    height: 30px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    width: 100px;
    background: linear-gradient(to right, #6c4b1f 20%, #e9b671 100%);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
